

body
{
    background : #38ed41;
    font-family: "Arial", sans-serif;
}
.register
{
    width: 90%;
    padding: 7%;
    margin: auto;
}
.registerform h1
{
    color: #83917f;
    text-decoration: none;
}

button:hover
{
    background: #069e0d;
}

button {
    border:0;
    font-family: "Arial", sans-serif;
    width: 20%;
    background: #07bf10;
    padding: 16px;
    font-size: 16px;
    position: relative;
    color: white;
    margin-bottom: 25px;
}

.registerform {
    background: #ededed;
    width: 90%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);

}
.registerform button
{
    text-align: center;
}
#displaySavedAnswer{
    float: left;
}
.question{
    font-size: 25px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}